<div class="container">

<% @orders.reverse.each do |order|  %>

<div class="card">
  <div class="card-header">
    On: <%= order.created_at %>
  </div>
  <div class="card-body">
    <h5 class="card-title">You ordered from: <%= order.restaurant.name %></h5>

<% if under_60_mins?(order)%>

<p class="card-text" style="color: red;"> ( Preparing... ) </p>

<div class="d-flex justify-content-end">
<form method="POST" action="/orders/<%= order.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Cancel Order" class="btn btn-danger ">
</form>
</div>
<% end %>
    <a href="/orders/<%= order.id %>" class="btn btn-primary">See order</a>
  </div>
</div>


<br>
<% end %>
</div>