<% if logged_in? %>

<a href="/restaurants">Back to Restaurants</a><br><br><br><br>

<% @orders.reverse.each do |order|  %>
<a href="/orders/<%= order.id %>">
<h3>You ordered from: <%= order.restaurant.name %></h3>
</a>
<p>On: <%= order.created_at %>

<% if Time.now < order.created_at + (1*60*60)%>

<span style="color: red;"> ( Preparing... ) </span>

<a href="/orders/:id/edit"> Edit your order </a>
<% end %></p>

<br>
<% end %>
<% else %>
<%= redirect to "/failure" %>
<% end %>