<% if logged_in? || current_user.id == session[:user_id] %>


<h1>Thanks for your order!</h1>
<h2>You have 60 minutes if you want to cancel your order.</h2>

<% @order_items.each do |item| %>
<%= item.item.name %>
<% end %>
<%=@order.total%>
<a href="/orders/<%= @order.id %>">See Order</a>



<% else %>
<%= redirect to "/failure" %>
<% end %>