<h1>Signup as a Restaurant</h1>
<br><br>

<p style="color: red;"><%= @error if @restaurant && @error %></p>

<form action="/restaurant/signup" method="POST">
<input type="text" name="restaurant[name]" placeholder="Restaurant Name">
<input type="text" name="restaurant[genre]" placeholder="Restaurant Genre">
<input type="email" name="restaurant[email]" placeholder="Restaurant Email">
<input type="password" name="restaurant[password]" placeholder="Choose a password">
<input type="submit" value="Signup Restaurant">
</form>