<div class="card text-center">
  <div class="card-header"> </div>
  <div class="card-body">
    <h5 class="card-title">Unkown Error</h5>
    <p class="card-text">You must be logged in with the appropiate account to visit this page.</p>
    <a href="/" class="btn btn-primary">Home</a>
  </div>
  <div class="card-footer text-muted">
    Sorry about that.
  </div>
</div>
