<div class="container-fluid">
<div class="d-flex justify-content-center">
<h1>Welcome to Food Order!</h1>
<br><br><br><br>
</div>
<div class="text-center">
<img src="/images/home_img.png" height="400" width="550" alt="food">
</div>
<div class="d-flex justify-content-center">
<h3>Please <a class="btn btn-outline-primary" href="/login">Login</a> or <a class="btn btn-outline-primary" href="/signup">Signup</a> to continue.</h3>
</div>
<br><br><br><br>
<div class="d-flex justify-content-end fixed-bottom">
<h3>Are you a Restaurant partener? <a class="btn btn-outline-primary" href="/restaurant/login">Login</a> or <a class="btn btn-outline-primary" href="/restaurant/signup">Signup</a> here.</h3>
</div>
<div>