<h1>Welcome to Food Order!</h1>
<h3>Please <a href="/login">Login</a> or <a href="/signup">Signup</a> to continue.</h3>
<br><br><br><br>
<h3>Are you a Restaurant partener? <a href="/restaurant/login">Login</a> or <a href="/restaurant/signup">Signup</a> here.</h3>